In [1]:
'''
TUPLE= read only copy of list object.
group of elements as one entity.
duplicates and heterogenous elements are allowed.
insertion order preserved - indexing concept applicable.
immutable object.
'''

'\nTUPLE= read only copy of list object.\ngroup of elements as one entity.\nduplicates and heterogenous elements are allowed.\ninsertion order preserved - indexing concept applicable.\nimmutable object.\n'

In [5]:
#how to create tuple object?
t1=()
t2=(10,20)
t3=(10,20,False,"nayana")
t4=tuple(range(10))

print(t1)
print(t2)
print(t3)
print(t4)

()
(10, 20)
(10, 20, False, 'nayana')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
#how to read? -using indexing
t1=(1,2,3,4,5,6)
print(t1[0])
print(t1[4])

1
5

In [7]:
#how to iterate tuple object? -using for and while
t=('a','b','c','d')
for ele in t:
    print(ele)

a
b
c
d

In [9]:
i=0
while i<=len(t)-1:
    print(t[i])
    i=i+1

a
b
c
d

In [10]:
#how to read?
enames=["sagar","vivek","varshu","appu","chandhu"]
print(enames.count("sagar"))
print(enames.index("vivek"))

1
1